@font-face {
  font-family: audiowide;
  src: url(font/Audiowide-Regular.ttf);
}

div {
  background-color: #bbb;
  width: 100px;
  height: 100px;
  border: solid 5px #222;
  font-size: 5rem;
  display: grid;
  place-items: center;
}

body {
  background-color: #222;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
